.snakemake


data/*
auspice/

ingest/.snakemake/
ingest/benchmarks/
ingest/logs/



*/results/*
*/temp/

ingest/data/*
!ingest/data/references/
ingest/data/references/annotation.gff3
ingest/data/references/nextclade.tsv

scripts/__pycache__/


scripts/bin

.env

/.snakemake
/.snakemake/metadata
/diff_rootings
*.json
*.json
